<div class="w-full bg-[#06141D]">
	<div class="mx-auto max-w-lg space-y-4 px-4 py-24 pb-40 text-neutral-100 dark:text-stone-50">
		<p>
			Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsam quae earum nobis quasi
			repellat. Amet facere nulla dolorum accusantium sit dolores odio excepturi facilis laboriosam
			officiis dolorem, nobis reprehenderit molestiae.
		</p>
		<p>
			Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsam quae earum nobis quasi
			repellat. Amet facere nulla dolorum accusantium sit dolores odio excepturi facilis laboriosam
			officiis dolorem, nobis reprehenderit molestiae.
		</p>
		<p>
			Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsam quae earum nobis quasi
			repellat. Amet facere nulla dolorum accusantium sit dolores odio excepturi facilis laboriosam
			officiis dolorem, nobis reprehenderit molestiae.
		</p>
		<p>
			Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsam quae earum nobis quasi
			repellat. Amet facere nulla dolorum accusantium sit dolores odio excepturi facilis laboriosam
			officiis dolorem, nobis reprehenderit molestiae.
		</p>
		<p>
			Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsam quae earum nobis quasi
			repellat. Amet facere nulla dolorum accusantium sit dolores odio excepturi facilis laboriosam
			officiis dolorem, nobis reprehenderit molestiae.
		</p>
		<p>
			Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsam quae earum nobis quasi
			repellat. Amet facere nulla dolorum accusantium sit dolores odio excepturi facilis laboriosam
			officiis dolorem, nobis reprehenderit molestiae.
		</p>
		<p>
			Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsam quae earum nobis quasi
			repellat. Amet facere nulla dolorum accusantium sit dolores odio excepturi facilis laboriosam
			officiis dolorem, nobis reprehenderit molestiae.
		</p>
	</div>
</div>
