---
import { menuLinks, siteConfig } from "@/site-config";

const year = new Date().getFullYear();
---

<footer
	class="absolute bottom-0
	left-1/2
	w-full
  max-w-6xl
	-translate-x-1/2
	-translate-y-1/2
  transform
  overflow-x-hidden
	text-gray-600 dark:text-gray-400 sm:bottom-8"
>
	<div
		class="flex
	flex-col
	items-center
  justify-center
  px-6
	sm:flex-row
	sm:justify-between
	sm:text-xs
	sm:font-semibold"
	>
		<div class="me-0 sm:me-4">
			&copy; {siteConfig.author}
			{year}<span class="inline-block"></span>
		</div>
		<nav
			aria-label="More on this site"
			class="flex gap-x-2 sm:gap-x-0 sm:divide-x sm:divide-gray-500"
		>
			{
				menuLinks.slice(0, 2).map((link) => (
					<a class="sm:hover:text-textColor px-4 py-2 sm:py-0 sm:hover:underline" href={link.path}>
						{link.title}
					</a>
				))
			}
		</nav>
	</div>
</footer>
