---
import { Image } from "astro:assets";
import Starfield from "../Starfield.astro";
import lucasFace from "../../assets/lukas-face.png";
---

<section class="relative h-screen">
	<Starfield />
	<div class="z-5 relative h-full flex-col place-items-center">
		<div class="z-5 flex h-full flex-1 flex-col items-center justify-center">
			<div
				id="profile-image"
				class="cc-profile-image z-5 relative flex items-center justify-center"
			>
				<Image
					class="z-5 h-44 w-44 rounded-full object-cover"
					src={lucasFace}
					alt="lukas profile picture"
				/>
			</div>
			<div
				class="gradient-text flex flex-col items-center gap-4 px-8 py-4 text-center text-5xl
      font-bold tracking-tighter md:text-6xl"
			>
				<h2>Lukasz Zatyka</h2>
				<h3 class="gradient-text pb-1 text-2xl tracking-tight md:text-xl">
					Frontend Engineer with ❤️ to programming
				</h3>
			</div>
			<div
				class="mt-4 flex max-w-xs flex-col flex-nowrap gap-4 sm:max-w-md sm:flex-row sm:justify-center"
			>
				<div class="flex w-full justify-center sm:w-auto">
					<a href="https://www.linkedin.com/in/lukasz-zatyka/">
						<button class="btn btn-primary w-full sm:mb-0">Let's talk</button>
					</a>
				</div>
				<div class="flex w-full sm:w-auto">
					<a href="./assets/Lukasz-Zatyka-Resume.pdf">
						<button class="btn btn-secondary w-full sm:mb-0">Download CV</button>
					</a>
				</div>
			</div>
		</div>
	</div>
</section>

<style>
	@keyframes f {
		0% {
			transform: scale(0.7);
			opacity: 0;
		}
		50% {
			opacity: 1;
		}
		to {
			transform: scale(1);
			opacity: 0;
		}
	}

	.cc-profile-image:before {
		@apply absolute;
		content: "";
		background: radial-gradient(circle, #3b82f6 20%, #22c55e 100%);
		background-origin: border-box;
		border-radius: 50%;
		height: 12.2rem;
		width: 12.2rem;
		transform: translate(-50%, -50%);
		animation: f 1.6s ease-out;
		animation-iteration-count: infinite;
		opacity: 0;
		z-index: 9;
	}

	.cc-profile-image img {
		@apply relative;
		z-index: 9;
	}
</style>
