---
import Layout from "../layouts/PageLayout.astro";
import ContainerSection from "@/components/common/ContainerSection.astro";
---

<Layout meta={{ title: "Dashboard" }}>
	<ContainerSection>
		<h1>Welcome</h1>
		<p>We are happy to see you here</p>
		<form action="/api/auth/signout">
			<button type="submit">Sign out</button>
		</form>
	</ContainerSection>
</Layout>
<script>
	import { checkSession } from "@/utils/session";
	checkSession();
</script>
