---
import PageLayout from "@/layouts/PageLayout.astro";
import FramerParallaxComponent from "@/components/framer-parallax";
import Content from "@/components/framer-parallax/components/Content.astro";
---

<PageLayout meta={{ title: "Admin Page" }}>
	<div>
		<FramerParallaxComponent client:visible />
		<Content />
	</div>
</PageLayout>
