---
import PageLayout from "@/layouts/PageLayout.astro";
import HeaderAnimeRoot from "@/components/header-anime";
---

<PageLayout meta={{ title: "Header Anime" }}>
	<div class="w-full pb-20 pt-40">
		<HeaderAnimeRoot />
	</div>
</PageLayout>
