---
import HeroRoot from "@/components/hero-anime/HeroRoot";
import PageLayoutHeroAnime from "@/layouts/PageLayoutHeroAnime.astro";
---

<PageLayoutHeroAnime meta={{ title: "Hero Anime", description: "Hero Anime nedds description" }}>
	<div class="w-full overflow-hidden pb-20 pt-40">
		<HeroRoot client:visible />
	</div>
</PageLayoutHeroAnime>
