---
import HeroRoot from "@/components/hero-anime/HeroRoot";
import PageLayout from "@/layouts/PageLayout.astro";
---

<PageLayout heroAnime meta={{ title: "Hero Anime", description: "Hero Anime nedds description" }}>
	<div class="w-full overflow-hidden pb-20 pt-32">
		<HeroRoot client:visible />
	</div>
</PageLayout>
