---
import PageLayout from "@/layouts/PageLayout.astro";
import HeroRoot from "@/components/hero-anime/HeroRoot";
---

<PageLayout meta={{ title: "Hero Anime" }}>
	<div class="w-full overflow-hidden pb-20 pt-40">
		<HeroRoot />
	</div>
</PageLayout>
