---
import PageLayout from "@/layouts/PageLayout.astro";
import ContainerSection from "@/components/common/ContainerSection.astro";
import HeaderPortfolio from "@/components/portfolio/common/header-portfolio";
import MoviesAppComponent from "@/components/portfolio/movie-app";

// const {
// 	geo: { city },
// } = Astro.locals.netlify.context;

export const prerender = false;
---

<PageLayout meta={{ title: "Playground AI" }}>
	<ContainerSection>
		<HeaderPortfolio
			client:visible
			title={"Movie App"}
			description={"A simple ReactTS movies app based on OMDb API"}
			chipsList={[
				"React",
				"Typescript",
				"Tailwind CSS",
				"Radix UI",
				"Rest API",
				"React Query",
				"React Router",
				"Playwright",
			]}
		/>
		<!-- <p class="pb-6 text-center">Hello there, friendly visitor from {city || "Unknown City"}!</p> -->
		<MoviesAppComponent client:only />
	</ContainerSection>
</PageLayout>
