---
import PageLayout from "@/layouts/PageLayout.astro";
import { Dashboard1 } from "@/components/dashboards/dashboard-1";
---

<PageLayout meta={{ title: "Admin Page" }}>
	<div class="py-32">
		<Dashboard1 client:visible />
	</div>
</PageLayout>
