---
import PageLayout from "@/layouts/PageLayout.astro";
import { Dashboard2 } from "@/components/dashboards/dashboard-2";
---

<PageLayout meta={{ title: "Admin Page" }}>
	<div class="py-32">
		<Dashboard2 client:visible />
	</div>
</PageLayout>
