---
import PageLayout from "@/layouts/PageLayout.astro";
import { ChatApp } from "@/components/dashboards/chat-app"; 
---

<PageLayout meta={{ title: "Admin Page" }}>
	<div class="py-32">
		<ChatApp client:visible />
	</div>
</PageLayout>
