---
import PageLayout from "./PageLayout.astro";
import type { SiteMeta } from "@/types";

interface Props {
	meta: SiteMeta;
}

const {
	meta: { description, title },
} = Astro.props;
---

<PageLayout meta={{ description, title }}>
	<div class="bg-gradient bg-gradient-mix"></div>
	<slot />
</PageLayout>
