---
import ContainerSection from "@/components/ContainerSection.astro";
import PageLayout from "./PageLayout.astro";
import type { CollectionEntry } from "astro:content";

interface Props {
	post: CollectionEntry<"post">;
}

const { post } = Astro.props;
const {
	data: { description, ogImage, publishDate, title, updatedDate },
	slug,
} = post;

const articleDate = updatedDate?.toISOString() ?? publishDate.toISOString();
const socialImage = ogImage ?? `/og-image/${slug}.png`;
---

<PageLayout meta={{ articleDate, description, ogImage: socialImage, title }}>
	<ContainerSection>
		<article class="flex flex-grow justify-center break-words" data-pagefind-body>
			<div
				class="prose-headings:text-accent-2
				prose-headings:before:text-accent
				prose
				mt-12
				max-w-[750px]
				prose-headings:font-semibold
				prose-headings:before:absolute
				prose-headings:before:-ms-4
				prose-th:before:content-none"
			>
				<slot />
			</div>
		</article>
	</ContainerSection>
</PageLayout>
